# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code
.vscode/

# Raw datasets
*.edf

# Generated EDA outputs
eda_data.csv
eda_processed_data.csv
eda_anomaly_windows.csv

# Temporary outputs
output/
